.element {
    background-color: rgb(65, 250, 24);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding:0.5rem 4rem;

    @media only screen and (max-width: 600px) {
    padding:0.5rem 12rem;
        
    }
    
}